
h1 {
    color: goldenrod;
    text-align: center;
}
.mainContainer {
    background-color: red;
    height: 1130px;
    width: 980px;
    display: flex;
    flex-direction: column; 
    padding: 24px;
    border-radius: 16px;
    margin: 24px auto;
}

.container {
    background-color: white;
    max-height: 960px;
    min-height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    border-radius: 16px;
    border:solid pink;
    border-width: 10px;
}



.square {
    background-color: white;
    flex-grow:1;
    padding:0;
}

.square.hover {
    background-color:black;
}

button {
    padding: 16px;
    font-size: 16px;
    border-radius: 16px;
    margin-top:8px;
}

.button-container {
    display:flex;
    justify-content: space-between;
}