

.container {
    background-color: red;
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column; 
    padding: 24px;
    padding-bottom: 120px;
    border-radius: 16px;
}

.row {
    background-color: white;
    display: flex;
    flex-grow:1;
}

.square {
    background-color: white;
    flex-grow:1;
    height: auto;
}

.square.hover {
    background-color:black;
}